{% extends 'base.html' %}
{% load static %}

{% block extra_css %}

<link rel="stylesheet" href = "{% static 'authentication/css/style.css'%}">
{% endblock %}

{% block content %}
<div class="login-form">
    <h2> Log in</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="login-buttons">
        <button type="submit">Login</button>
        <a href="{% url 'authentication:register' %}">
                <button type="button">Create Account</button>
        </a>
        </div>
    </form>
</div>
{% endblock %}
