{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'tutorial/css/topics.css' %}">
{% endblock %}

{% block content %}
    <h1>Tutorials & Information </h1>
    <p>Here, you can find pages with helpful information about spam emails.</p>
    <ul>
        {% for topic in topics %}
        <li>
            <a href="{% url 'tutorial:topic_detail' topic.pk %}" >{{topic.title}}</a>
        </li>
        {% empty %}
        <p> no topics yet.</p>
        {% endfor %}
    </ul>
    <button onclick="location.href='/game/create/'">Start a new game</button>
{% endblock %}
