<!--Base file in which all html code will be extended so we don't have to rewrite repeatable stuff like this-->
<!DOCTYPE html>
{% csrf_token %}
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Email Spam Detection Game</title>
        <link href="{% static 'css/global.css' %}" rel="stylesheet">
        {% block extra_css %}{% endblock %}
    </head>
    <body>
        <header class="title-bar">
            <div class="logo">Email Spam Detection Game</div>
            <nav class="nav-links">
                <a href="{% url 'game:create_game' %}">Play</a>
                <a href="{% url 'tutorial:tutorial_list' %}">Tutorial</a>
                <a href="{% url 'leaderboard:leaderboard_view' %}">Leaderboard</a>
                <a href="{% url 'authentication:login' %}">Account</a>
            </nav>
        </header>
        <!--extended templates go here-->
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
